@font-face {
    font-family: 'alegreya';
    src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
         url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --yellow: #ffc92f;
    --black: #1b1b1b;
    --red: #d82727;
    --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
    --forLine: #e0d9c8;
    --forBG: #fcf5e6;
}

html, body {
    height: 100%;
}

a.disabled {
    pointer-events: none;
  }

.wrapper {
    overflow: hidden;
    min-width: 1440px;
}


body {
    font: 16px / 1.42 "Roboto", Arial, sans-serif;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:#fcf5e6;
}

.container {
    display: flex;
    justify-content: center;
    
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
}

.hero {
    background: url(./img/bg/hero.jpg) center -17.5cm / cover no-repeat;
    background-size: 120%;
    min-width: 1410px;
    height: 180px;
    margin-bottom: 88px;
}

.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    height: 100%;
    
}

.logo {
    margin-top: 29px;
}

.fade-slider {
    width: 520px;
    position: relative;
    
}

.fade-slider__item {
    background: url(./img/decor/header-guys.png) center -25px / cover no-repeat;
    background-size: 450px;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
    
}

.fade-slider__text {
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
}

.fade-slider__text--version-1 {
    position: absolute;
    left: -2%;
    top: 15%;
    
}

.fade-slider__text--version-2 {
    position: absolute;
    left: -10%;
    top: 20%;
    
}

.fade-slider__text--version-2 .lined-text {
    align-items: center;
    
}


.lined-text {
    
    margin: 0;
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'alegreya';
    line-height: 1;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}



.fade-slider__text--visible {
    opacity: 1;
    transition: opacity .5s;
}

.lined-text__word {
    padding: 1px 5px;
    background: var(--black);
    color: #fff;
}

.lined-text__word--color-yellow {
    color: var(--yellow);
}

.lined-text__word:nth-child(2n) {
    margin-left: 4px;
    
}
.lined-text__word:nth-child(2n-1) {
    
    padding-left: 8px;
}

.mail {
    margin-top: 58px;
    text-decoration: none;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    height: 65px;
}


.mail__title {
    text-align: center;
    margin-bottom: 4px;
    
}

.mail__content {
    text-align: center;
    background: var(--black);
    color: var(--yellow);
    padding: 8px 40px;
    
}

.product {
    margin-bottom: 95px;
}

.product__item {
    background: var(--yellow);
    width: 1100px;
    height: 670px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.product__item-pic {
    height: 65%;
    width: 48%;
    position: relative;
}

.pic__item {
    
    position: absolute;
    
    opacity: 0;
    height: 100%;
    width: 100%;
}

.pic__item--active {
    opacity: 1;
}

.pic__item--black {
    background: url(./img/tshirts/tshirt_07.png) center center / contain no-repeat;
    background-size: 480px;
}

.pic__item--white {
    background: url(./img/tshirts/tshirt_08.png) center center / contain no-repeat;
    background-size: 480px;
}

.pic__item--green {
    background: url(./img/tshirts/tshirt_09.png) center center / contain no-repeat;
    background-size: 480px;
}

.pic__item--blue {
    background: url(./img/tshirts/tshirt_10.png) center center / contain no-repeat;
    background-size: 480px;
}

.pic__item--red {
    background: url(./img/tshirts/tshirt_11.png) center center / contain no-repeat;
    background-size: 480px;
}



.product__item-info {
    width: 555px;
    height: 650px;
    margin: 10px 10px 10px 0;
    background:#fcf5e6;
    
}


.head {
    font: inherit;
    padding: 30px 30px 28px 30px;
    border-bottom: solid 1px var(--forLine); 
    
}

.head__model {
    font: 62px;
    color: #fcba2e;
    margin-bottom: 4px;
    margin-top: 0px;
}

.head__collection {
    font: 47px var(--titlesFont);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-bottom: 4px;
}

.head__price {
    background-color: var(--yellow);
    height: 45px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-family: var(--titlesFont);
    margin: 0;
    font-weight: bold;
    font-size: 39px;
}

.desc {
    
    padding: 30px 30px 28px 30px;
    border-bottom: solid 1px var(--forLine);

    
}

.desc__text {
    font-size: 14px;
    font-family: "Roboto";
    color: var(--black);
    
    
}

.desc__text-str {
    margin-bottom: 13px;
}

.desc__text-str:last-child {
    margin-bottom: 0px;
}

.buy {
    
    padding: 30px;
    
    
}

.buy__sizes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
}

.size {
    height: 50px;
    width: 50px;
    border: solid 2px var(--forLine);
    position: relative;
}

.size__link {
    
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-family: "Roboto";
    font-weight: bold;
    padding: 15px;
    
}

.size--not-available .size__link {
    color: var(--forLine);
}

.size--active {
    background: var(--yellow);
    border: solid 2px var(--yellow);
}

.btn {
    text-decoration: none;
}

.buy__colors {
    display: flex;
    margin-left: 6px;
    margin-bottom: 28px;
}

.color {
    background: var(--forBG);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.color:last-child {
    margin-right: 0;
}



.color--active:before {
    
    content:'';
    position: absolute;
    border-radius: 50%;
    height: 29px;
    width: 29px;
    border: solid 3px var(--yellow);
}


.color--white {
    height: 21px;
    width: 21px;
    border: solid 2px var(--forLine);
}

/*.color--active.color--white {
    border: 0px;
    height: 25px;
    width: 25px;
}*/

.color--black {
    background: #2f2c25;
}


.color--green {
    background: #529029;
}

.color--blue {
    background: #39498d;
}

.color--red {
    background: #d82727;
}

.color__link {
    display: flex;
    
    padding: 12.5px;
}

.color--white .color__link {
    padding: 10px;
}

.btn {
    background: var(--black);
    padding: 10px 65px;
    line-height: 1;
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 28px;
    font-family: var(--titlesFont);
    font-weight: bold;
}

.btn:hover {
    background: var(--red);
    color: #fff;
}



.information {
    margin-bottom: 80px;
}

.tabs {
    
}

.tabs__block {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.tab__item {
    margin-right: 67px;
}

.tab__item:last-child {
    margin-right: 0;
}

.tab__link {
    text-decoration: none;
    color: var(--black);
    font-family: var(--titlesFont);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
}

.tab__item--active .tab__link {
    background: var(--black);
    color: var(--yellow);
    padding: 8px 20px;
    box-sizing: border-box;
}

.content {
    width: 1100px;
    height: 300px;
    padding: 10px;
    background-color: var(--yellow);
    box-sizing: border-box;
    display: none;
    
}

.content--visible {
    display: block;
}

.content__bg {
    height: 100%;
    width: 100%;
    background-color: var(--forBG);
    display: flex;
}

.content__recs {
    width: 340px;
    padding: 40px 35px 40px 40px;
    box-sizing: border-box;
    border-right: solid 2px var(--forLine);
}

.rec__item {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.rec__item:last-child {
    margin-bottom: 0;
}

.rec__icon {
    height: 24px;
    width: 24px;
    margin-right: 22px;
    display: block;
}

.rec__icon--style-bad-size {

}

.rec-text {
    font-size: 13.15px;
    font-family: 'Roboto';
    color: var(--black);
    
}

.content__desc {
    box-sizing: border-box;
    width: 743px;
    padding: 40px 87px 0px 50px;
}

.desc-text {
    font-size: 13.15px;
    font-family: 'Roboto';
    color: var(--black);
    
}

.content--height-455 {
    height: 455px;
}

.content__measure {
    padding: 45px 60px 50px 50px;
    height: 435px;
    width: 337px;
    box-sizing: border-box;
}

.measure__pic {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    position: relative;
}

.measure__pic-item {
    height: 100%;
    width: 100%;
    background-size: 450px;
    background: url(./img/tshirts/tshirt_00.png) center center / contain no-repeat;
    position: absolute;
    left: -6px;
    top: -16px;
}



ol {
  padding-left: 14px;
  margin: 0;  
}

.text__item {
    font-size: 12px;
    font-family: 'Roboto';
    padding-left: 10px;
}

.content__sizes {
    height: 435px;
    width: 743px;
}

.content__sizes-table {
    height: 100%;
    width: 100%;
    background-color: var(--forLine);
    border-spacing: 1px;
}

td, th {
    background-color: var(--forBG);
    font-size: 12px;
    font-weight: normal;
}

td {
    padding-left: 15px;
}

th {
    width: 71px;
}

.table__title  td, .table__title th{
    font-size: 14px;
    font-weight: bold;
    background-color: #f6efe0;
}

.content--height-280
{
    height: 280px;
}

.content__logo {
    width: 337px;
    position: relative;
    box-sizing: border-box;
    border-right: solid 2px var(--forLine);
}

.content__logo--1 {
    
    padding-top: 42px;
    padding-left: 75px;
    
    
}
.content__logo--2 {
    padding: 50px 50px 0px 50px;
}

.logo-pic {
    position: absolute;
}

.logo-pic--1 {
    
    height: 60%;
    width: 52%;
    background: url(./img/content/logos/express.png) center center / contain no-repeat;
}

.logo-pic--2 {
    top: 42px;
    height: 23%;
    width: 70%;
    background: url(./img/content/logos/harley.png) center center / contain no-repeat;
}

.content__desc--padding {
    padding-right: 50px;
}

.desc-text--size {
    font-size: 14px;
    line-height: 1.6;
}

.text-word {
    margin-bottom: 12px;
    font-family: 'Roboto';
}

.text-word:last-child {
    margin-bottom: 0;
}

.footer {
    margin-bottom: 120px;
}

.site-menu {
    width: 1100px;
}

.site-menu__sections {
    display: flex;
    
    flex-wrap: nowrap;
    justify-content: space-between;
}

/*.site-menu__col:nth-child(1) {
    margin-right: 175px;
}

.site-menu__col:nth-child(2) {
    margin-right: 200px;
}

.site-menu__col:nth-child(3) {
    margin-right: 195px;
}*/

.site-menu__title {
    color: var(--black);
    font-family: var(--titlesFont);
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 0px;
}



.site-menu__item {
    margin-bottom: 15px;
    font-size: 14px;
}

.site-menu__item:last-child {
    margin-bottom: 0;
}

.site-menu__list--contact .site-menu__item {
    margin-bottom: 7px;
}

.site-menu__list--contact .site-menu__item:first-child {
    margin-bottom: 43px;
}

.site-menu__list--contact .site-menu__item:last-child {
    margin-bottom: 0px;
}


.site-menu__link {
    text-decoration: none;
    color: #737373;
    
}

.site-menu__link:hover {
    color: var(--red);
}

.site-menu__link--mail {
    color: var(--black);
    
}

.site-menu__link--mail:hover {
    color: var(--black);
}

.extras {
    margin-bottom: 87px;
}

.extras__sections {
    display: flex;
    justify-content: center;   
}

.extras__col {
    
    width: 535px;
    height: 190px;
    margin-right: 30px;
    box-sizing: border-box;
    background-color: var(--black);
    
}

.extras__col:last-child {
    margin-right: 0;
}

.extras__best {
    
    color: #fff;
    font-family: var(--titlesFont);
    text-transform: uppercase;
    font-size: 47px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 48px 10%;
    display: block;
}

.extras__col-socials {
    background: url(./img/bg/pattern.png) center center / 500px;
    height: 100%;
    width: 100%;
}

.socials__list {
    display: flex;
    justify-content: center;
    padding: 73px;
}

.socials__item {
    margin-right: 47px;
}

.socials__item:last-child {
    margin-right: 0px;
}

.socials__icon {
    width: 100%;
    height: 100%;
}

.socials__link {
    width: 38px;
    height: 38px;
    display: block;
}

.socials__link:hover .socials__icon {
    fill: var(--red);
}